:root.yotsuba {
    --fourchan-native-background-color: #f0e0d6;
    --fourchan-native-border-color: #d9bfb7;
}
:root.yotsuba-b {
    --fourchan-native-background-color: #d6daf0;
    --fourchan-native-border-color: #b7c5d9;
}
:root.futaba {
    --fourchan-native-background-color: #f0e0d6;
    --fourchan-native-border-color: #d9bfb7;
}
:root.burichan {
    --fourchan-native-background-color: #d6daf0;
    --fourchan-native-border-color: #b7c5d9;
}
:root.tomorrow {
    --fourchan-native-background-color: #282a2e;
    --fourchan-native-border-color: #282a2e;
}
:root.photon {
    --fourchan-native-background-color: #ddd;
    --fourchan-native-border-color: #ccc;
}

#playlist-embed {
    position: fixed;
    padding: 1px 4px;
    border: 1px solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
}

:root.fourchan:not(.fourchan-x) #playlist-embed {
    background-color: var(--fourchan-native-background-color);
    border-color: var(--fourchan-native-border-color);
}

:root.warosu #playlist-embed {
    background-color: var(--darker-background-color);
    border-color: var(--even-darker-background-color);
}

:root.warosu #playlist-embed a {
    text-decoration: none
}

#playlist-embed.hide {
    display: none
}

#playlist-embed>div:first-child {
    display: flex
}

#playlist-embed .icon {
    height: 12px
}

#playlist-embed .icon.spin {
    transform: rotate(360deg);
    -webkit-transition: transform .25s ease-in;
    -moz-transition: transform .25s ease-in;
    -ms-transition: transform .25s ease-in;
    -o-transition: transform .25s ease-in;
    transition: transform .25s ease-in
}

:root.fourchan #playlist-embed .reload {
    transform: translate(0, 1px)
}

#playlist-embed .reload {
    margin-right: .25em
}

#playlist-embed ul,
#playlist-embed li {
    margin: 0;
    padding: 0
}

#playlist-embed li {
    display: inline-block;
    list-style-type: none
}

#playlist-embed li:only-of-type {
    display: none
}

#playlist-embed li:not(:only-of-type):not(:last-of-type)::after {
    content: '•';
    margin: 0 .25em
}

#playlist-embed .move {
    flex: 1;
    cursor: move
}

#playlist-embed .jump {
    margin-top: -1px
}

#playlist-embed .close {
    margin-left: 4px
}

:root.shortcut-icons:not(.fourchan-xt) #shortcut-playlist .icon--alt-text {
    font-size: 0;
    visibility: hidden
}

:root:not(.fourchan-xt) #shortcut-playlist .icon {
    height: 15px;
    width: 16px;
    margin-bottom: -3px
}